<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/spring"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head></head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" th:fragment="navigationBar">
			
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Main Site</a>
				</div>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					
					<ul class="nav navbar-nav navbar-right">

						<li th:with="about=#{nav.about}"><a href="#home" th:text="${#strings.toUpperCase(about)}">ABOUT</a></li>
						<!-- <li th:with="certs=#{nav.certs}"><a href="#certs" th:text="${#strings.toUpperCase(certs)}">CERTS</a></li>
						<li th:with="skills=#{nav.skills}"><a href="#skills" th:text="${#strings.toUpperCase(skills)}">SKILLS</a></li> -->
						<li th:with="contact=#{nav.contact}"><a th:href="'mailto:me@jorgesaldivar.com?subject=' + #{nav.contact-message}" target="_top" th:text="${#strings.toUpperCase(contact)}">CONTACT</a></li>
						<li th:with="sourceCode=#{nav.sourceCode}"><a href="https://github.com/j7saldivar/my-website" target="_blank" th:text="${#strings.toUpperCase(sourceCode)}">SOURCE CODE</a></li>
					
					</ul>
				
				</div>
			
			</div>
		
		</nav>
	
</body>
</html>
