.parallax-container {
	padding: 100px 0px 100px 0px;
}

.jumbotron {
	margin-bottom: 0px;
}

#about {
	background: url('../images/Austin_Evening.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#experience {
	background-color: #eee;
	width: 100%;
	height: auto;
}

.carousel-control {
	bottom: inherit;
}
	

.carousel-indicators li {
	background-color: #333;
	border: 1px solid #333;
}

.carousel-indicators {
	bottom: 23px;
}

.navbar-default {

	-webkit-backface-visibility: hidden;
	
}

.hideme {
	opacity: 0;
}

.back-pattern {
	background-image: url('../images/crossword.png'); 
	background-repeat: repeat;
}