<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org/spring"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main">
<head>

<title>Whoops! Error Page</title>

<link th:href="@{/css/error.css}" rel="stylesheet" />
<script th:src="@{/js/error-redirect.js}" ></script>

</head>

<body>

	<div class="mid-top" layout:fragment="content" >

		<div class="container">
			<h2 class="text-right">Redirecting in: <span id="timeRemaining">5</span></h2>
		</div>
		
		<div class="container well">
			<h2>
				<span th:text="${status}"></span>
				<span th:if="${status}" th:text="' - '"></span>
				<span th:text="${message}"></span>
			</h2>
			
			<h2>
				<span class="fa fa-meh-o" aria-hidden="true"></span>&nbsp;<span id="errorMessage"></span>
			</h2>
			
		</div>

	</div>

</body>
</html>