<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/spring"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>

<!-- Custom CSS -->
<link th:href="@{/css/main.css}" rel="stylesheet" />
<script th:src="@{/js/hideme.js}"></script>

</head>
<body>


	<div layout:fragment="content">

		<div th:replace="fragments/navigationbar :: navigationBar"></div>

		<div id="home" class="jumbotron">
		
			<div class="container">
				<br /><br class="visible-xs" />
				<div class="text-right">
					<a href="?lang=en" th:text="#{language.english}">English</a> / <a
						href="?lang=es" th:text="#{language.spanish}">Spanish</a>
				</div>
				<div class="text-center">

					<h1>Jorge Saldivar</h1> 
					<h5 th:utext="#{index.message}">- Software Engineer - </h5>

				</div>
			</div>
		</div>

		<!-- Container (About Me Section) -->
		<div id="about" class="parallax-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
					<div class="well">
						
						<h2 class="text-left" th:text="#{nav.about}">About me</h2>

						<strong th:text="#{index.page.educationtitle}">Education:</strong>
						<p th:text="#{index.page.education}">B.S. in Information and Computer Science at Monterrey Institute of Technology and Higher Education</p>
						
						<strong th:text="#{index.page.experiencetitle}">Experience:</strong>
						<p th:text="#{index.page.experience(${yearsOfExperience})}">+3 years of experience in software industry. Mostly experienced in programming languages such as Java EE, Spring, JPA, JavaScript, and Oracle SQL for RDBMS. Projects I have worked on:</p>
						
						<ul>
							<li><p th:text="#{index.page.project1}">Software Development</p></li>
							<li><p th:text="#{index.page.project2}">Data Expert</p></li>
							<li><p th:text="#{index.page.project3}">Scripting</p></li>
						</ul>

					</div>
					</div>
					
					<div class="col-sm-3">
										
						<img th:src="@{images/visa_logo_blu.png}" alt="Accenture" class="img-thumbnail well" width="100%" />
			
						<a href="https://drive.google.com/open?id=1Gk1iQoUzHU_js8GC1UvZ1zPHkrR9flj4OlkMRGDqZW8" target="_blank" type="button" class="btn btn-primary btn-lg btn-block disabled" th:text="#{resume}">Resume</a>	
							
					</div>
					
				

				</div>
				<!-- /row -->
				
			</div>
			<!-- /container -->
		
		</div>
		<!-- /about -->


		<!-- Experience -->
		<div id="experience" class="container-fluid text-center bg-grey">

			<h3 th:text="#{index.page.wordstodescribe}">Words that Describe Myself</h3>
			
			<br />
			<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
				
				<div class="container">
										
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>		
					</ol>
				
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<h5 th:text="#{index.page.description1}">"Study! Study! Study! - Kintaro Oe"</h5>
						</div>
						
						<div class="item">
							<h5 th:text="#{index.page.description2}">"Thinking outside the box"</h5>
						</div>

					</div>

				</div>
				<!-- /container -->
			
			</div>
			<!-- /myCarousel -->
			
		</div>
		<!-- /experience -->



		<!-- Certifications -->
		<div class="back-pattern">
			
			<br /><br />
			<div id="certs" class="container">
				<h2 class="text-center" th:text="#{index.page.certifications}">Certifications</h2>
				
				<br />
				<div class="col-sm-4 hideme">
					<div class="panel panel-default">
						
						<div class="panel-heading">ITIL Foundation - 2013</div>
						<div class="panel-body">
							<img th:src="@{/images/itil.png}" alt="ITIL" class="img-thumbnail" width="100%" />
						</div>

					</div>
				</div>

				<div class="col-sm-4 hideme">
					<div class="panel panel-default">
						
						<div class="panel-heading">OCA Java SE 7 - 2014</div>
						<div class="panel-body">
							<img th:src="@{/images/oca_java.png}" alt="OCA Java" class="img-thumbnail" width="100%" />
						</div>

					</div>
				</div>

				<div class="col-sm-4 hideme">
					<div class="panel panel-default">
					
						<div class="panel-heading">OCE SQL Expert - 2016</div>
						<div class="panel-body">
							<img th:src="@{/images/oce_sql.png}" alt="SQL Expert" class="img-thumbnail" width="100%" />
						</div>

					</div>
				</div>

				<div class="col-sm-4 hideme">
					<div class="panel panel-default">

						<div class="panel-heading">OCP Java Professional - 2017</div>
						<div class="panel-body">
							<img th:src="@{/images/OCP.png}" alt="OCP Java Professional" class="img-thumbnail" width="100%" />
						</div>

					</div>
				</div>

				<div class="col-sm-4 hideme">
					<div class="panel panel-default">

						<div class="panel-heading">OCP Java Professional - 2018</div>
						<div class="panel-body">
							<img th:src="@{/images/OCP-8.png}" alt="OCP Java Professional" class="img-thumbnail" width="100%" />
						</div>

					</div>
				</div>

				<div class="col-sm-4 hideme">
					<div class="panel panel-default">

					</div>
				</div>

			</div>
			<!-- /certificates -->

			<br />
			<hr />

			<!-- Skills -->
			<div id="skills" class="container">

				<h2 class="text-center" th:text="#{index.page.skills}">SKILLS</h2>

				<br />
				<div class="row slideanim  text-center">
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-coffee fa-lg"></span>
							<h4>JAVA</h4>
							<p>Back-End</p>
						</div>
					</div>
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="glyphicon glyphicon-heart logo-small"></span>
							<h4>JAVASCRIPT</h4>
							<p>Front-End</p>
						</div>
					</div>
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-code fa-lg"></span>
							<h4>PYTHON</h4>
							<p>Back-End</p>
						</div>
					</div>
				</div>				

				<div class="row slideanim  text-center">
					
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-leaf fa-lg"></span>
							<h4>Spring Framework</h4>
							<p>Java Framework</p>
						</div>
					</div>
					
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-book fa-lg"></span>
							<h4>JQUERY</h4>
							<p>JavaScript Library</p>
						</div>
					</div>					
					
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-pencil-square-o fa-lg"></span>
							<h4>ReactJS</h4>
							<p>JavaScript Library</p>
						</div>
					</div>
					
				</div>
				
				
				<div class="row slideanim  text-center">
				
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-cube fa-lg"></span>
							<h4>Hibernate</h4>
							<p>ORM Framework</p>
						</div>
					</div>
					
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-database fa-lg"></span>
							<h4>SQL/NoSQL</h4>
							<p>DBS</p>
						</div>
					</div>
					
					<div class="col-sm-4 hideme">
						<div class="thumbnail">
							<br />
							<span class="fa fa-linux fa-lg"></span>
							<h4>UNIX</h4>
							<p>Scripting</p>
						</div>
					</div>
					
				</div>
			</div>
			<!-- /skills -->

			<div th:replace="fragments/footer :: footer"></div>
			
		</div>
	</div>
</body>
</html>