<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/spring"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorator="layouts/main">

<head>

	<title>Login Page</title>
	
	<!-- Custom style -->
	<link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet" />
	
	<!-- Custom JavaScript -->
	<script th:inline="javascript">
		/*<![CDATA[*/
			var welcomeMessage = /*[[#{login.page.welcome}]]*/'Welcome to my website'; 
		/*]]>*/
	</script>
	<script th:src="@{/js/index-autokey.js}" src="../static/js/index-autokey.js"></script> 

</head>

<body>

	<div layout:fragment="content" class="container-parent">

		<div class="form-signin text-right">
			<a href="?lang=en" th:text="#{language.english}">English</a> / <a href="?lang=es" th:text="#{language.spanish}">Spanish</a>
		</div>

		<div class="container">
			<div class="row vertical-align">

				<span id="logIcon" class="glyphicon glyphicon-off g-full" aria-hidden="true"></span>

				<form id="form-sign" class="form-signin" th:action="@{/login}" method="post">

					
					<div th:if="${param.error}" class="alert alert-danger" role="alert" th:text="#{login.page.incorrect}">Wrong user or password</div>
					<h3 class="form-signin-heading"><span id="message"></span>&nbsp;</h3>
					
					<label for="inputEmail" class="sr-only" th:text="#{login.page.email}">Email</label> 
					<input type="text" id="inputEmail" class="form-control" th:placeholder="#{login.page.email}" placeholder="Username" required="required" name="username" /> 
					
					<label for="inputPassword" class="sr-only" th:text="#{login.page.password}">Password</label>
					<input type="password" id="inputPassword" class="form-control" th:placeholder="#{login.page.password}" placeholder="Password" autocomplete="off" required="required" name="password" />
					
					<div class="checkbox">
						<label><input type="checkbox" id="remember" value="remember-me" /><span th:text="#{login.page.rememberme}">Remember me</span></label>
					</div>
					
					<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.page.signin}">Sign in</button>

				</form>
			
			</div>
		</div>
		<!-- /container -->

	</div>
	<!-- /content -->

</body>
</html>